<%= render 'header' %>

<div class="card">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h6 class="card-title mb-0 pl-2">
      <%= fa_icon "plus" %> Nueva nota interna
    </h6>
    <%= link_to internal_notes_path, class: 'btn text-white close-btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body full-height">
    <%= render 'form', internal_note: @internal_note %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', internal_notes_path, class: 'btn btn-light mr-2' %>
    <button type='submit' name='commit' class='btn btn-primary' form='internal_note_form'>
      <%= fa_icon "check" %> Cargar nota
    </button>
  </div>
</div>