<%= render 'header' %>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="card-title mb-0 pl-2">
      <%= fa_icon "eye" %> Viendo nota interna
    </h6>
    <%= link_to internal_notes_path, class: 'btn btn-light' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body full-height">
    <div class="row">
      <div class="col-9">
        <div class="row border-bottom p-2">
          <div class="col-6">
            <h6 class="font-weight-bold">Referencia:</h6>
            <%= @internal_note.reference %>
          </div>
        
          <div class="col-6">
            <h6 class="font-weight-bold">Autor:</h6>
            <%= @internal_note.author.username %>
          </div>
        </div>
        <div class="row border-bottom p-2">
          <div class="col-3">
            <h6 class="font-weight-bold">Fecha de entrada:</h6>
            <%= @internal_note.entry_date.strftime("%d/%m/%Y") %>
          </div>

          <div class="col-3">
            <h6 class="font-weight-bold">Fecha de salida:</h6>
            <%= @internal_note.out_date.strftime("%d/%m/%Y") %>
          </div>

          <div class="col-3">
            <h6 class="font-weight-bold">Fecha creada:</h6>
            <%= @internal_note.created_at.strftime("%d/%m/%y %H:%M") %>
          </div>

          <div class="col-3">
            <h6 class="font-weight-bold">Fecha modificada:</h6>
            <%= @internal_note.updated_at.strftime("%d/%m/%y %H:%M") %>
          </div>
        </div>
      </div>
      <div class="col-3">
        <h6 class="font-weight-bold">
          <%= fa_icon "file-pdf" %>
          Archivos adjuntos
        </h6>
        <% @internal_note.files.each do |file| %>
          <% if file.variable? %>
            <%= link_to image_tag(file.variant(resize: "300x300")), rails_blob_path(file, disposition: :attachment) %>
          <% elsif file.previewable? %>
            <%= link_to image_tag(file.preview(resize: "300x300")), file, target: :_blank %>
          <% elsif file.image? %>
            <%= link_to image_tag(file), rails_blob_path(file, disposition: :attachment) %>
          <% else %>
            <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', internal_notes_path, class: 'btn btn-light' %>
  </div>
</div>