<tr id="entry_note_<%= entry_note.id %>">
  <td><%= entry_note.nota? ? entry_note.note_number : entry_note.zonal_pass %></td>
  <td><%= entry_note.order_type.humanize %></td>
  <td class="ref-col cut-text"><span><%= entry_note.origin.sector_name %></span></td>
  <td class="ref-col cut-text"><span><%= entry_note.destination.sector_name %></span></td>
  <td class="cut-text"><span><%= entry_note.reference %></span></td>
  <td>
    <%= entry_note.entry_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <%= entry_note.out_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <% if entry_note.files.attached? %>
      <%= link_to show_image_entry_note_path(entry_note), remote: true,
            class: 'btn btn-light btn-sm', title: 'Ver imagen adjunta',
            data: { toggle: 'tooltip', placement: 'top' }, style: "margin-left: -5px" do %>
        <%= fa_icon "check" %>
      <% end %>
    <% else %>
      <%= fa_icon "times" %>
    <% end %>
  </td>
  <td>
    <%= entry_note.author.username %>
  </td>
  <td>
    <%= link_to entry_note_path(entry_note),
          class: 'btn btn-secondary btn-sm', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= fa_icon "eye" %>
    <% end %>
    <% if entry_note.nota?%>
      <% if policy(entry_note).edit? %>
        <%= link_to edit_entry_note_path(entry_note),
              class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "edit" %>
        <% end %>
      <% end %>
    <% else %>
      <% if policy(entry_note).edit_pass? %>
        <%= link_to edit_pass_entry_note_path(entry_note),
              class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "edit" %>
        <% end %>
      <% end %>
    <% end %>
    <% if policy(entry_note).delete? %>
      <%= link_to delete_entry_note_path(entry_note), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>
