<tr id="entry_note_<%= entry_note.id %>">
  <td><%= entry_note.note_number %></td>
  <th><%= entry_note.origin.sector_name %></th>
  <th><%= entry_note.destination.sector_name %></th>
  <td class="ref-col"><%= entry_note.reference %></td>
  <td>
    <%= entry_note.entry_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <%= entry_note.out_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <% if entry_note.image.attached? %>
      <%= link_to show_image_entry_note_path(entry_note), remote: true,
            class: 'btn btn-default btn-xs', title: 'Ver imagen adjunta',
            data: { toggle: 'tooltip', placement: 'top' }, style: "margin-left: -5px" do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-ok') %>
      <% end %>
    <% else %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </td>
  <td>
    <%= entry_note.author.username %>
  </td>
  <td>
    <%= link_to entry_note_path(entry_note), remote:true,
          class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
    <% end %>
    <% if policy(entry_note).edit? %>
      <%= link_to edit_entry_note_path(entry_note), remote: true,
            class: 'btn btn-warning btn-xs', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(entry_note).delete? %>
      <%= link_to delete_entry_note_path(entry_note), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
  </td>
</tr>
