<tr id="entry_note_<%= entry_note.id %>">
  <td><%= entry_note.note_number %></td>
  <th><%= entry_note.origin.sector_name %></th>
  <th><%= entry_note.destination.sector_name %></th>
  <td><%= entry_note.reference %></td>
  <td>
    <%= entry_note.entry_date.strftime("%d/%m/%y %H:%M") %>
  </td>
  <td>
    <%= entry_note.out_date.strftime("%d/%m/%y %H:%M") %>
  </td>
  <td>
    <% if entry_note.image.attached? %>
      <span class="glyphicon glyphicon-ok"></span>
      <% else %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </td>
  <td>
    <%= entry_note.author.username %>
  </td>
  <td>
    <%= link_to entry_note_path(entry_note), remote:true,
          class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
    <% end %>
    <%= link_to edit_entry_note_path(entry_note), remote: true,
          class: 'btn btn-warning btn-xs', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
    <% end %>
    <%= link_to entry_note_path(entry_note), remote: true, class: 'btn btn-danger btn-xs',
          title: 'Borrar', method: :delete, data: { toggle: 'tooltip', placement: 'top',
          confirm: "Desea eliminar la nota entrante número #{entry_note.note_number}?"} do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
    <% end %>
  </td>
</tr>
