<%= simple_form_for @entry_note, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <%= f.input :note_number, label: 'N° de nota',
          input_html: { min: '0', max:'9999' } %>
      </div>
      <div class="col-md-4">  
        <%= f.input :zonal_pass, required: false, label: 'N° de pase zonal',
          input_html: { min: '0', max:'9999' } %>
      </div>
      <div class="col-md-4">
        <%= f.input :subse_number, required: false, label: 'N° de subse',
          input_html: { min: '0', max:'99999' } %>
      </div>
    </div>
  </div>
  <div class='row'>
      <div class='col-md-6'>
        <%= f.label 'Origen' %>
        <%= f.input :origin_id,
                          label: false,
                          label_method: :sector_name,
                          value_method: :id,
                          collection: @sectors,
                          include_blank: false,
                          input_html: { class: 'chosen-select', id: 'origin_id' },
                          prompt: 'Seleccione un sector o cree uno'
        %>
      </div>
      <div class='col-md-6'>
      <%= f.label 'Destino' %>
      <%= f.input :destination_id,
                        label: false,
                        label_method: :sector_name,
                        value_method: :id,
                        collection: @sectors,
                        include_blank: false,
                        input_html: { class: 'chosen-select', id: 'destination_id' },
                        prompt: 'Seleccione un sector o cree uno'
      %><br><br>
    </div>
    <div class='form-group col-md-12'>
    <%= f.input :reference, label: 'Referencia', as: :text,
        :input_html => { class: "form-control", :cols => 60, :rows => 2 } %><br><br>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :entry_date, label: 'Fecha de entrada',
                                  as: :string,
                                  :placeholder => "Seleccionar fecha",
                                  input_html: { class: "form-control", autocomplete: 'off', required: true,
                                  value: "#{@entry_note.entry_date unless @entry_note.new_record?}"},
                                  html5: false
                                  %><br><br>
    </div>
    <div class='col-md-6'>
      <%= f.input :out_date, label: 'Fecha de salida',
                                  as: :string,
                                  :placeholder => "Seleccionar fecha",
                                  input_html: { class: "form-control", autocomplete: 'off', required: true,
                                  value: "#{@entry_note.out_date unless @entry_note.new_record?}"},
                                  html5: false
                                  %><br><br>
    </div>
  </div>
  <% if !@entry_note.new_record? %>
    <% if @entry_note.files.attached? %>
      <p>
        <label>Archivos adjuntos:</label>
        <br>
        <% @entry_note.files.each do |file| %>
          <% if file.variable? %>
            <%= link_to image_tag(file.variant(resize: "100x100")), rails_blob_path(file, disposition: :attachment) %>
          <% elsif file.previewable? %>
            <%= link_to image_tag(file.preview(resize: "100x100")), file, target: :_blank %>
          <% elsif file.image? %>
            <%= link_to image_tag(file), rails_blob_path(file, disposition: :attachment) %>
          <% else %>
            <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
          <% end %>
        <% end %>
      </p>
    <% end %>
  <% end %>

  <%= f.label :files, "Archivos:"%>
  <%= f.file_field :files, multiple: true, class: "form-control", direct_upload: true %>
<% end %>
