<%= simple_form_for @entry_note, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <%= f.input :note_number, placeholder: '1234', required: true, label: 'Número de nota',
      input_html: { min: '0', max:'9999' } %>

  <%= f.input :reference, required: true, label: 'Referencia', as: :text,
      :input_html => { :cols => 46  , :rows => 2 } %>

  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :entry_date, label: 'Fecha de entrada',
                                  as: :string,
                                  :placeholder => "Seleccionar fecha",
                                  input_html: {class: "form-control", required: true,
                                  value: "#{@entry_note.entry_date unless @entry_note.new_record?}"},
                                  html5: false
                                  %><br><br>
      <%= f.input :out_date, label: 'Fecha de salida',
                                  as: :string,
                                  :placeholder => "Seleccionar fecha",
                                  input_html: {class: "form-control", required: true,
                                  value: "#{@entry_note.out_date unless @entry_note.new_record?}"},
                                  html5: false
                                  %><br><br>
    </div>
  </div>
<% end %>
