<%= simple_form_for @entry_note, remote: true, html: {class: "form-inline"} do |f| %>
  <%= f.error_notification %>
  <%= f.input :note_number, placeholder: '1234', label: 'Número de nota',
    input_html: { min: '0', max:'9999' } %><br><br>
  <div class='row'>
      <div class='col-md-6'>
        <%= f.input :origin_id,
                          label: 'Origen',
                          label_method: :sector_name,
                          value_method: :id,
                          collection: @sectors,
                          include_blank: true,
                          required: true,
                          input_html: { class: 'chosen-select', id: 'origin_id' },
                          prompt: 'Seleccione un sector o cree uno'
        %>
        <%= f.hint 'No seleccione ningún sector para crear uno nuevo.', id: 'origin-hint', style: "display: none" %>
      </div>
      <div class='col-md-6'>
      <%= f.input :destination_id,
                        label: 'Destino',
                        label_method: :sector_name,
                        value_method: :id,
                        collection: @sectors,
                        include_blank: false,
                        input_html: { class: 'chosen-select', id: 'destination_id' },
                        prompt: 'Seleccione un sector o cree uno'
      %><br><br>
      <%= f.hint 'No seleccione ningún sector para crear uno nuevo.', id: 'origin-hint', style: "display: none" %>
    </div>
    <div class='col-md-12'>
    <%= f.input :reference, label: 'Referencia', as: :text,
        :input_html => { :cols => 46  , :rows => 2 } %><br><br>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :entry_date, label: 'Fecha de entrada',
                                  as: :string,
                                  :placeholder => "Seleccionar fecha",
                                  input_html: { class: "form-control",
                                  value: "#{@entry_note.entry_date unless @entry_note.new_record?}"},
                                  html5: false
                                  %><br><br>
    </div>
    <div class='col-md-6'>
      <%= f.input :out_date, label: 'Fecha de salida',
                                  as: :string,
                                  :placeholder => "Seleccionar fecha",
                                  input_html: { class: "form-control",
                                  value: "#{@entry_note.out_date unless @entry_note.new_record?}"},
                                  html5: false,
                                  required: true
                                  %><br><br>
    </div>
  </div>
  <div class="container">
    <div class="col-md-3">
        <div class="form-group">
            <label>Cargar imagen</label><br>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        Buscar… <%= f.input :image, as: :file, label: false, input_html: { id: "imgInp"} %>
                    </span>
                </span>
                <input type="text" id="file-name" class="form-control" readonly>
            </div>
            <img id='img-upload'/>
        </div>
    </div>
  </div>
<% end %>
