<% content_for :page_nav do %>
  <li class="nav-item <%= active_action('index') %> non-sel" id="page-title">
    <%= link_to entry_notes_path, class: "nav-link" do %>
      <%= fa_icon "inbox" %>
      Entrantes
    <% end %>
  </li>
  <% if policy(EntryNote).new? %>
    <li class="nav-item <%= active_action('new') %>">
      <%= link_to new_entry_note_path, class: "nav-link" do %>
        <%= fa_icon "plus" %>
        Nota
      <% end %>
    </li>
  <% end %>
  <% if policy(EntryNote).new_pass? %>
    <li class="nav-item <%= active_action('new_pass') %>">
      <%= link_to new_pass_entry_notes_path, class: "nav-link" do %>
        <%= fa_icon "plus" %>
        Pase
      <% end %>
    </li>
  <% end %>
<% end %>