<div id="filterrific_results">
  <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :numero) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :tipo) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :origen) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :destino) %></th>
          <th>Referencia</th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_entrada) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_salida) %></th>
          <th><span class="glyphicon glyphicon-paperclip"></span></th>
          <th>Autor</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=entry_notes>
        <%= render @entry_notes %>
      </tbody>
    </table>
  </div>
  <div id="page_links">
    <%= paginate @entry_note %>
  </div>
</div>
