<%= render 'header' %>

<div class="card">
  <div class="card-header bg-warning">
    <h3 class="title">
      <%= fa_icon "edit" %> Editando nota entrante
      <%= link_to entry_notes_path, class: 'btn float-right close-btn' do %>
        <%= fa_icon "times" %>
      <% end %>
    </h3>
  </div>
  <div class="card-body full-height">
    <%= render 'form', entry_note: @entry_note %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', entry_notes_path, class: 'btn btn-light mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form='entry_note_form'>
      <%= fa_icon "save" %> Guardar cambios
    </button>
  </div>
</div>