<%= render 'header' %>

<div class="card">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h6 class="card-title mb-0 pl-2">
      <%= fa_icon "plus" %> Nuevo pase entrante
    </h6>
    <%= link_to entry_notes_path, class: 'btn text-white close-btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body full-height">
    <%= render 'pass_form', entry_note: @entry_note %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', entry_notes_path, class: 'btn btn-light mr-2' %>
    <button type='submit' name='commit' class='btn btn-primary' form='entry_note_form'>
      <%= fa_icon "check" %> Cargar pase
    </button>
  </div>
</div>