<%= render 'header' %>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="card-title mb-0 pl-2">
      <%= fa_icon "eye" %> Viendo <%= @entry_note.order_type %> entrante
    </h6>
    <%= link_to entry_notes_path, class: 'btn btn-light close-btn' do %>
      <%= fa_icon "times" %>
    <% end %>
  </div>
  <div class="card-body full-height">
    <div class="row">
      <div class="col-8">
        <div class="row border-bottom p-2">
          <% if @entry_note.pase? %>
            <div class="col-12">
              <h6 class="font-weight-bold">N° de pase hospital</h6>
              <%= @entry_note.zonal_pass %>
            </div>
          <% else %>
            <div class="col-6">
              <h6 class="font-weight-bold">N° de nota</h6>
              <%= @entry_note.note_number %>
            </div>
            <div class="col-6">
              <h6 class="font-weight-bold">N° Pase zonal</h6>
              <%= @entry_note.zonal_pass %>
            </div>
          <% end %>
        </div>


        <div class="row border-bottom p-2">
          <div class="col-4">
            <h6 class="font-weight-bold">Origen</h6>
            <%= @entry_note.origin.name %>
          </div>
          <div class="col-4">
            <h6 class="font-weight-bold">Destino</h6>
            <%= @entry_note.destination.name %>
          </div>
          <div class="col-4">
            <h6 class="font-weight-bold">Autor</h6>
            <%= @entry_note.author.username %>
          </div>  
        </div>

        <div class="row border-bottom p-2">
          <div class="col-12">
            <h6 class="font-weight-bold"><strong>Referencia</strong></h6>
            <%= @entry_note.reference %>
          </div>
        </div>

        <div class="row p-2">
          <div class="col-3">
            <h6 class="font-weight-bold"><%= fa_icon "calendar" %> Entrada</h6>
            <%= @entry_note.entry_date.strftime("%d/%m/%Y") %>
          </div>
          <div class="col-3">
            <h6 class="font-weight-bold"><%= fa_icon "calendar" %> Salida</h6>
            <%= @entry_note.out_date.strftime("%d/%m/%Y") %>
          </div>
          <div class="col-3">
            <h6 class="font-weight-bold"><%= fa_icon "calendar" %> Creada</h6>
            <%= @entry_note.created_at.strftime("%d/%m/%y %H:%M") %>
          </div>
          <div class="col-3">
            <h6 class="bold font-weight-bold"><%= fa_icon "calendar" %> Modificada</h6>
            <%= @entry_note.updated_at.strftime("%d/%m/%y %H:%M") %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <h6 class="font-weight-bold">Adjuntos</h6>
        <% @entry_note.files.each do |file| %>
          <% if file.variable? %>
            <%= link_to image_tag(file.variant(resize: "300x300")), rails_blob_path(file, disposition: :attachment) %>
          <% elsif file.previewable? %>
            <%= link_to image_tag(file.preview(resize: "300x300")), file, target: :_blank %>
          <% elsif file.image? %>
            <%= link_to image_tag(file), rails_blob_path(file, disposition: :attachment) %>
          <% else %>
            <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', entry_notes_path, class: 'btn btn-light' %>
  </div>
</div>
