<% content_for :page_nav do %>
  <li class="nav-item <%= active_action('index') %> non-sel" id="page-title">
    <%= link_to out_notes_path, class: "nav-link" do %>
      <%= fa_icon "share-square" %>
      Salientes
    <% end %>
  </li>
  <% if policy(OutNote).new? %>
    <li class="nav-item <%= active_action('new') %>">
      <%= link_to new_out_note_path, class: "nav-link" do %>
        <%= fa_icon "plus" %>
        Nota
      <% end %>
    </li>
  <% end %>
  <% if policy(OutNote).new_pass? %>
    <li class="nav-item <%= active_action('new_pass') %>">
      <%= link_to new_pass_out_notes_path, class: "nav-link" do %>
        <%= fa_icon "plus" %>
        Pase
      <% end %>
    </li>
  <% end %>
<% end %>