<div id="filterrific_results">
  <div class="card">
    <table class="table table-hover table-striped table-sm mb-0">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :numero) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :tipo) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :origen) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :destino) %></th>
          <th>Referencia</th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_entrada) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_salida) %></th>
          <th><%= fa_icon "paperclip" %></th>
          <th>Autor</th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=out_notes>
        <%= render @out_notes %>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 50px">
    <%= will_paginate @out_notes, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
