<tr id="out_note_<%= out_note.id %>">
  <td><%= out_note.nota? ? out_note.note_number : out_note.zonal_pass %></td>
  <td><%= out_note.order_type.humanize %></td>
  <td class="ref-col"><%= out_note.origin.sector_name %></td>
  <td class="ref-col"><%= out_note.destination.sector_name %></td>
  <td class="ref-col"><%= out_note.reference %></td>
  <td>
    <%= out_note.out_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <%= out_note.out_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <% if out_note.files.attached? %>
      <%= link_to show_image_out_note_path(out_note), remote: true,
            class: 'btn btn-light btn-sm', title: 'Ver imagen adjunta',
            data: { toggle: 'tooltip', placement: 'top' }, style: "margin-left: -5px" do %>
        <%= fa_icon "check" %>
      <% end %>
    <% else %>
      <%= fa_icon "times" %>
    <% end %>
  </td>
  <td>
    <%= out_note.author.username %>
  </td>
  <td>
    <%= link_to out_note_path(out_note),
          class: 'btn btn-secondary btn-sm', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= fa_icon "eye" %>
    <% end %>
    <% if out_note.nota? %>
      <% if policy(out_note).edit? %>
        <%= link_to edit_out_note_path(out_note),
              class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "edit" %>
        <% end %>
      <% end %>
    <% else %>
      <% if policy(out_note).edit_pass? %>
        <%= link_to edit_pass_out_note_path(out_note),
              class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
          <%= fa_icon "edit" %>
        <% end %>
      <% end %>
    <% end %>
    <% if policy(out_note).delete? %>
      <%= link_to delete_out_note_path(out_note), remote: true,
            class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>
