<tr id="out_note_<%= out_note.id %>">
  <td><%= out_note.nota? ? out_note.note_number : out_note.zonal_pass %></td>
  <td><%= out_note.order_type.humanize %></td>
  <th><%= out_note.origin.sector_name %></th>
  <th><%= out_note.destination.sector_name %></th>
  <td class="ref-col"><%= out_note.reference %></td>
  <td>
    <%= out_note.out_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <%= out_note.out_date.strftime("%d/%m/%Y") %>
  </td>
  <td>
    <% if out_note.files.attached? %>
      <%= link_to show_image_out_note_path(out_note), remote: true,
            class: 'btn btn-default btn-xs', title: 'Ver imagen adjunta',
            data: { toggle: 'tooltip', placement: 'top' }, style: "margin-left: -5px" do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-ok') %>
      <% end %>
    <% else %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  </td>
  <td>
    <%= out_note.author.username %>
  </td>
  <td>
    <%= link_to out_note_path(out_note), remote:true,
          class: 'btn btn-default btn-xs', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-eye-open') %>
    <% end %>
    <% if policy(out_note).edit? %>
      <%= link_to edit_out_note_path(out_note), remote: true,
            class: 'btn btn-warning btn-xs', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-edit') %>
      <% end %>
    <% end %>
    <% if policy(out_note).delete? %>
      <%= link_to delete_out_note_path(out_note), remote: true,
            class: 'btn btn-danger btn-xs', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-trash') %>
      <% end %>
    <% end %>
  </td>
</tr>
