<%= simple_form_for out_note, html: { id: :out_note_form } do |f| %>
  <%= f.error_notification %>
  <%= f.input :order_type, :as => :hidden, :input_html => { value: 'pase' } %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <%= f.input :zonal_pass, required: true, label: 'N° de pase hospital',
          input_html: { min: '0', max:'9999' } %>
      </div>
    </div>
  </div>
  <div class='row'>
      <div class='col-md-6'>
        <%= f.label 'Origen' %>
        <%= f.input :origin_id,
          label: false,
          label_method: :name,
          value_method: :id,
          collection: @sectors,
          include_blank: false,
          input_html: { class: 'chosen-select', id: 'origin_id' },
          prompt: 'Seleccione un origen'
        %>
      </div>
      <div class='col-md-6'>
      <%= f.label 'Destino' %>
      <%= f.input :destination_id,
        label: false,
        label_method: :name,
        value_method: :id,
        collection: @sectors,
        include_blank: false,
        input_html: { class: 'chosen-select', id: 'destination_id' },
        prompt: 'Seleccione un destino'
      %>
    </div>
    <div class='col-md-12'>
    <%= f.input :reference, required: true, label: 'Referencia', as: :text,
        :input_html => { :cols => 46  , :rows => 1 } %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :entry_date, label: 'Fecha de entrada',
        as: :string,
        :placeholder => "Seleccionar fecha",
        input_html: {
          class: "form-control",
          autocomplete: 'off',
          required: true,
        },
        html5: false
        %>
    </div>
    <div class='col-md-6'>
      <%= f.input :out_date, label: 'Fecha de salida',
        as: :string,
        :placeholder => "Seleccionar fecha",
        input_html: {
          class: "form-control", 
          autocomplete: 'off', 
          required: true,
        },
        html5: false
        %>
    </div>
  </div>
  <% if !@out_note.new_record? %>
    <% if @out_note.files.attached? %>
      <p>
        <label>Archivos adjuntos:</label>
        <% @out_note.files.each do |file| %>
          <% if file.variable? %>
            <%= link_to image_tag(file.variant(resize: "100x100")), rails_blob_path(file, disposition: :attachment) %>
          <% elsif file.previewable? %>
            <%= link_to image_tag(file.preview(resize: "100x100")), file, target: :_blank %>
          <% elsif file.image? %>
            <%= link_to image_tag(file), rails_blob_path(file, disposition: :attachment) %>
          <% else %>
            <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
          <% end %>
        <% end %>
      </p>
    <% end %>
  <% end %>

  <%= f.label :files, "Archivos:"%>
  <%= f.file_field :files, multiple: true, class: "form-control", direct_upload: true %>
<% end %>
