<%= render 'header' %>

<div class="card">
  <div class="card-header bg-warning">
    <h3 class="card-title">
      <%= fa_icon "edit" %> Editando pase saliente
      <%= link_to out_notes_path, class: 'btn float-right close-btn' do %>
        <%= fa_icon "times" %>
      <% end %>
    </h3>
  </div>
  <div class="card-body full-height">
    <%= render 'pass_form', out_note: @out_note %>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Volver', out_notes_path, class: 'btn btn-light mr-2' %>
    <button type='submit' name='commit' class='btn btn-success' form='out_note_form'>
      <%= fa_icon "save" %> Guardar cambios
    </button>
  </div>
</div>