<p id="notice"><%= notice %></p>

<p>
  <strong>Note number:</strong>
  <%= @out_note.note_number %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @out_note.reference %>
</p>

<p>
  <strong>Zonal pass:</strong>
  <%= @out_note.zonal_pass %>
</p>

<p>
  <strong>Subse number:</strong>
  <%= @out_note.subse_number %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @out_note.entry_date %>
</p>

<p>
  <strong>Out date:</strong>
  <%= @out_note.out_date %>
</p>

<%= link_to 'Edit', edit_out_note_path(@out_note) %> |
<%= link_to 'Back', out_notes_path %>
