<%= render 'header' %>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="title">
          <%= fa_icon "eye" %> Viendo <%= @out_note.order_type %> entrante
          <%= link_to out_notes_path, class: 'btn btn-light float-right close-btn' do %>
            <%= fa_icon "times" %>
          <% end %>
        </h3>
      </div>
      <div class="card-body full-height">
        <div class="row">
          <div class="col-md-6">
            <% if @out_note.pase? %>
              <p>
                <h5><strong>Número de pase:</strong></h5>
                <%= @out_note.zonal_pass %>
              </p>
            <% else %>
              <p>
                <h5><strong>Numero de nota:</strong></h5>
                <%= @out_note.note_number %>
              </p>

              <p>
                <h5><strong>Pase zonal:</strong></h5>
                <%= @out_note.zonal_pass %>
              </p>
            <% end %>
            <p>
              <h5><strong>Referencia:</strong></h5>
              <%= @out_note.reference %>
            </p>

            <p>
              <h5><strong>Autor:</strong></h5>
              <%= @out_note.author.username %>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <h5><strong>Fecha de entrada:</strong></h5>
              <%= @out_note.entry_date.strftime("%d/%m/%Y") %>
            </p>

            <p>
              <h5><strong>Fecha de salida:</strong></h5>
              <%= @out_note.out_date.strftime("%d/%m/%Y") %>
            </p>

            <p>
              <h5><strong>Fecha creada:</strong></h5>
              <%= @out_note.created_at.strftime("%d/%m/%y %H:%M") %>
            </p>

            <p>
              <h5><strong>Fecha modificada:</strong></h5>
              <%= @out_note.updated_at.strftime("%d/%m/%y %H:%M") %>
            </p>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Volver', out_notes_path, class: 'btn btn-light' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="title">
          <%= fa_icon "file-pdf" %>
          Archivos adjuntos
        </h3>
      </div>
      <div class="card-body full-height text-center">
        <% @out_note.files.each do |file| %>
          <% if file.variable? %>
            <%= link_to image_tag(file.variant(resize: "300x300")), rails_blob_path(file, disposition: :attachment) %>
          <% elsif file.previewable? %>
            <%= link_to image_tag(file.preview(resize: "300x300")), file, target: :_blank %>
          <% elsif file.image? %>
            <%= link_to image_tag(file), rails_blob_path(file, disposition: :attachment) %>
          <% else %>
            <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>