<div id="filterrific_results">
  <div class="card">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :nombre) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :entrantes) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :salientes) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_creado) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_modificado) %></th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=sectors>
        <%= render @sectors %>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center justify-content-center" style="height: 50px">
    <%= will_paginate @sectors, list_classes: %w(pagination mb-0), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
