<div id="filterrific_results">
  <div class="panel panel-default">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= filterrific_sorting_link(@filterrific, :nombre) %></th>
          <th>Descripción</th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_creado) %></th>
          <th><%= filterrific_sorting_link(@filterrific, :fecha_modificado) %></th>
          <th colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody id=sectors>
        <%= render @sectors %>
      </tbody>
    </table>
  </div>
</div>
<div id="page_links">
    <%= paginate @sector %>
</div>
