<tr id="sector_<%= sector.id %>">
  <td class="cut-text"><span><%= sector.name %></span></td>
  <td>
    <span class="label label-<%= sector.count_entry_label %>">
      <%= sector.entry_notes_count %>
    </span>
  </td>
  <td>
    <span class="label label-<%= sector.count_out_label %>">
      <%= sector.out_notes_count %>
    </span>
  </td>
  <td><%= sector.created_at.strftime("%d/%m/%y %H:%M") %></td>
  <td><%= sector.updated_at.strftime("%d/%m/%y %H:%M") %><td>
  <td>
    <%= link_to sector_path(sector), remote:true,
      class: 'btn btn-secondary btn-sm', title: 'Ver detalles', data: { toggle: 'tooltip', placement: 'top' } do %>
      <%= fa_icon "eye" %>
    <% end %>
    <% if policy(sector).edit? %>
      <%= link_to edit_sector_path(sector), remote: true,
          class: 'btn btn-warning btn-sm', title: 'Editar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "edit" %>
      <% end %>
    <% end %>
    <% if policy(sector).delete? %>
      <%= link_to delete_sector_path(sector), remote: true,
        class: 'btn btn-danger btn-sm', title: 'Borrar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "trash" %>
      <% end %>
    <% end %>
  </td>
</tr>
