<% content_for :page_title do %>
  <span class="glyphicon glyphicon-th"></span>
  Sectores
<% end %>
<% content_for :page_nav do %>
  <% if policy(Sector).new? %>
    <li role="presentation">
      <%= link_to new_sector_path, remote: true do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-plus') %>
        Nuevo
      <% end %>
    </li>
  <% end %>
  <li role="presentation">
    <a href="javascript:void(0);" data-toggle="collapse" data-target="#filter">
      <%= content_tag(:span, '', class: 'glyphicon glyphicon-filter') %>
      Filtrar
    </a>
  </li>
<% end %>

<div class="panel panel-default" id="filter-panel">
  <div class="panel-collapse collapse" id="filter">
    <div class="panel-body">
      <%= form_for_filterrific @filterrific, html: {id: "filterrific"} do |f| %>
        <div class="col-md-2 col-sm-3">
          <label>Buscar</label>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_name,
            class: 'filterrific-periodically-observed form-control',
            placeholder: 'Nombre de sector'
          ) %>
        </div>
        <div class="col-md-2 col-sm-3">
          <label>Ordenar por</label>
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by],{}, {class: 'form-control filterrific-periodically-observed'}) %>
        </div>
        <div class="col-md-2 col-sm-3">
           <label>Creadas desde</label>
           <%= f.text_field(:created_at, class: 'form-control filterrific-periodically-observed',
              id: "datepicker5", placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY'}) %>
        </div>
        <div class="col-md-2 col-sm-3">
           <label>Modificadas desde</label>
           <%= f.text_field(:updated_at, class: 'form-control filterrific-periodically-observed',
              id: "datepicker6", placeholder: "Una fecha", data: { date_format: 'DD/MM/YYYY'}) %>
        </div>
        <div class="col-md-2 col-sm-3 pull-right">
          <%= link_to reset_filterrific_url, class: "btn btn-default btn-md pull-right" do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-refresh') %>
          <% end %>
          <%# add an automated spinner to your form when the list is refreshed %>
          <%= render_filterrific_spinner %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= render(
  partial: 'sectors/list',
  locals: { sectors: @sectors }
) %>
