<%= render 'header' %>

<div class="row">
  <div class="col-6 mx-auto">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3 class="card-title">
          <%= fa_icon "plus" %> Nuevo sector
          <%= link_to sectors_path, class: 'btn pull-right close-btn' do %>
            <%= content_tag(:span, '', class: 'glyphicon glyphicon-remove') %>
          <% end %>
        </h3>
      </div>
      <div class="card-body" id="panel-body-new">
        <%= render 'form', sector: @sector %>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Volver', sectors_path, class: 'btn btn-light' %>
        <button type='submit' name='commit' class='btn btn-primary' form='new_sector'>
          <%= fa_icon "check" %> Cargar sector
        </button>
      </div>
    </div>
  </div>
</div>