<%= render 'header' %>

<div class="row">
  <div class="col-6 mx-auto">
    <div class="card">
      <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between">
        <h6 class="card-title mb-0 pl-2">
          <%= fa_icon "plus" %> Nuevo sector
        </h6>
        <%= link_to sectors_path, class: 'btn close-btn text-white' do %>
          <%= fa_icon "times" %>
        <% end %>
      </div>
      <div class="card-body" id="panel-body-new">
        <%= render 'form', sector: @sector %>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Volver', sectors_path, class: 'btn btn-light' %>
        <button type='submit' name='commit' class='btn btn-primary' form='new_sector'>
          <%= fa_icon "check" %> Cargar sector
        </button>
      </div>
    </div>
  </div>
</div>