<!--  Panel Prescripciones del día -->
<div class="card">
  <div class="card-header">
    <h3 class="title">Notas entrantes</h3>
  </div>
  <div class="card-body">
    <%= line_chart charts_by_day_entry_notes_path,
      download: "Notas Entrantes por dia HSMA",
      label: "Cantidad",
      title: "Entrantes por día",
      messages: {empty: "No hay notas entrantes en estas semanas"},
      adapter: "highcharts" %>

    <%= column_chart charts_by_month_entry_notes_path,
      download: "Notas Entrantes por mes HSMA",
      label: "Cantidad",
      title: "Entrantes por mes",
      colors: ["rgb(130,165,239, 0.6)"],
      messages: {empty: "No hay notas entrantes en este mes"},
      adapter: "chartjs" %>

    <%= pie_chart charts_by_sector_entry_notes_path,
      download: "Notas Entrantes por sector/origen",
      legend:  "right",
      title: "Notas entrantes por sector/origen",
      label: "Cantidad",
      messages: {empty: "No hay notas entrantes por sector"},
      adapter: "highcharts" %>

  </div>
  <!--  Panel últimas notas entrantes -->
  <% if @last_entry_notes.present? %>
    <div class="card-header">
      <h3 class="title">Últimas notas entrantes
        <%= link_to entry_notes_path, class: 'btn btn-default btn-xs pull-right' do %>
          Ver más
        <% end %>
      </h3>
    </div>
    <div class="card-body body-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Número</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha entrada</th>
            <th>Fecha salida</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @last_entry_notes.each do |len|%>
            <tr>
              <td><%= len.note_number %></td>
              <td><%= len.origin.sector_name %></td>
              <td><%= len.destination.sector_name %></td>
              <td><%= len.entry_date.strftime("%d/%m/%y %H:%M") %></td>
              <td><%= len.out_date.strftime("%d/%m/%y %H:%M") %></td>
              <td>
                <%= link_to entry_notes_url(filterrific: {:with_note_number => len.note_number}), class: 'btn btn-default btn-xs' do %>
                  <%= content_tag(:span, '', class: 'glyphicon glyphicon-option-horizontal') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
