<!--  Panel Prescripciones del día -->
<div class="card">
  <div class="card-header">
    <h3 class="title">Notas salientes</h3>
  </div>
  <div class="card-body">
    <%= line_chart charts_by_day_out_notes_path,
      download: "Notas Salientes por dia HSMA",
      label: "Cantidad",
      colors: ["rgba(190,0,0, 0.6)"],
      title:"Salientes por día",
      adapter: "highcharts" %>

    <%= column_chart charts_by_month_out_notes_path,
      download: "Notas Entrantes por mes HSMA",
      label: "Cantidad",
      colors: ["rgba(190,0,0, 0.6)"],
      title:"Salientes por mes",
      adapter: "chartjs" %>

    <%= pie_chart charts_by_sector_out_notes_path,
      download: "Notas Salientes por sector/origen",
      legend:  "right",
      title: "Notas salientes por sector/origen",
      label: "Cantidad",
      messages: {empty: "No hay notas entrantes por sector"},
      adapter: "highcharts" %>
  </div>
  <!--  Panel últimas notas salientes -->
  <% if @last_out_notes.present? %>
    <div class="card-header">
      <h3 class="title">Últimas notas salientes
        <%= link_to out_notes_path, class: 'btn btn-default btn-xs pull-right' do %>
          Ver más
        <% end %>
      </h3>
    </div>
    <div class="card-body body-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Número</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha entrada</th>
            <th>Fecha salida</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <% @last_out_notes.each do |lon|%>
            <tr>
              <td><%= lon.note_number %></td>
              <td><%= lon.origin.name %></td>
              <td><%= lon.destination.name %></td>
              <td><%= lon.entry_date.strftime("%d/%m/%y %H:%M") %></td>
              <td><%= lon.out_date.strftime("%d/%m/%y %H:%M") %></td>
              <td>
                <%= link_to out_notes_url(filterrific: {:with_note_number => lon.note_number}), class: 'btn btn-default btn-xs' do %>
                  <%= content_tag(:span, '', class: 'glyphicon glyphicon-option-horizontal') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
