<!--  Panel Prescripciones del día -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Notas salientes</h3>
  </div>
  <div class="panel-body">
    <%= line_chart charts_by_day_out_notes_path,
      download: "Notas Salientes por dia HSMA",
      label: "Cantidad",
      colors: ["rgba(190,0,0, 0.6)"],
      title:"Salientes por día",
      library: {  animation: { duration: 500, easing: "linear" } }%>
    <%= column_chart charts_by_month_out_notes_path,
      download: "Notas Entrantes por mes HSMA",
      label: "Cantidad",
      colors: ["rgba(190,0,0, 0.6)"],
      title:"Salientes por mes",
      library: {  animation: { duration: 500, easing: "linear" } } %>
  </div>
  <!--  Panel últimas notas salientes -->
  <% if @last_out_notes.present? %>
    <div class="panel-heading">
      <h3 class="panel-title">Últimas notas salientes
      </h3>
    </div>
    <div class="panel-body body-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Número</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha entrada</th>
            <th>Fecha salida</th>
          </tr>
        </thead>
        <tbody>
          <% @last_out_notes.each do |lon|%>
            <tr>
              <td><%= lon.note_number %></td>
              <td><%= lon.origin.sector_name %></td>
              <td><%= lon.destination.sector_name %></td>
              <td><%= lon.entry_date.strftime("%d/%m/%y %H:%M") %></td>
              <td><%= lon.out_date.strftime("%d/%m/%y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
