<% if current_user.present? %>
  <li class="<%= active_class(entry_notes_path) %>">
    <%= link_to entry_notes_path do %>
      <span class="glyphicon glyphicon-log-in"></span>
      Entrantes
    <% end %>
  </li>
  <li class="<%= active_class(out_notes_path) %>">
    <%= link_to out_notes_path do %>
      <span class="glyphicon glyphicon-log-out"></span>
      Salientes
    <% end %>
  </li>
  <li class="<%= active_class(sectors_path) %>">
    <%= link_to sectors_path do %>
      <span class="glyphicon glyphicon-th"></span>
      Sectores
    <% end %>
  </li>
  <% if current_user.has_role? :admin %>
    <li>
      <%= link_to rails_admin_path do %>
        <%= content_tag(:span, '', class: 'glyphicon glyphicon-sunglasses') %>
        Administración
      <% end %>
    </li>
  <% end %>
<% end %>
