<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Despacho HSMA" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Despacho del hospital" %>">
    <%= favicon_link_tag 'despacho-fav.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script><!-- Fix dropdown navbar -->
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render "layouts/flash_notices" %>
      <div class="container-fluid">
        <% if user_signed_in? %>
          <ul class="nav nav-tabs">
            <li role="presentation" class="" id="page_title"><a href=""><%= content_for :page_title %></a></li>
            <%= content_for :page_nav %>
          </ul>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
