<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Despacho HSMA" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Despacho del hospital" %>">
    <%= favicon_link_tag 'despacho-fav.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script><!-- Fix dropdown navbar -->
  </head>
  <body>
    <main role="main">
                <!-- Modal -->
            <%= render "shared/dialog" %>
      <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <% if user_signed_in? %>
          <%= render 'layouts/side_navigation' %>
        <% end %>

        <% if user_signed_in? %>
          <style>
            body {
              background-image: url("<%= asset_path('despacho-bg.jpg') %>");
            }
          </style>
        <% end %>

        
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <% if user_signed_in? %>
            <%= render 'layouts/navigation' %>
          <% end %>

          <div class="mt-3 container-fluid">
            
            <!-- Flash message -->
            <div id="flash_messages" class="mx-auto d-block">
              <%= render "layouts/flash_notices" %>
            </div>

            <!-- Main yield -->
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>