<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Despacho HSMA" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Despacho del hospital" %>">
    <%= favicon_link_tag 'despacho-fav.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script><!-- Fix dropdown navbar -->
  </head>
  <body>
    <main role="main">
      <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%= render 'layouts/side_navigation' %>
        
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <%= render 'layouts/navigation' %>

          <div class="container-fluid">
            <%= render "layouts/flash_notices" %>
            <% if user_signed_in? %>
              <style>
                body {
                  background-image: url("<%= asset_path('despacho-bg.jpg') %>");
                }
              </style>
            <% end %>
            <%= yield %>
            <%= render "shared/dialog" %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
